#genearl-modal {}

.modalOne {
    right: 0;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 100ms 100ms;
    z-index: 3;
}

.modalTop {
    position: fixed;
    top: 0;
    left: 0;
    visibility: 0;
    width: 100%;
    height: 0%;
    backdrop-filter: blur(2px);
    z-index: 3;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 200ms;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.full2 {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba($Primary, 0.2);
}


.container-profile {
    position: absolute;
    border: 1px solid lighten($color: $Primary, $amount: 70);
    top: 1rem;
    right: var(--right);
    width: 0rem;
    height: 0rem;
    background-color: $background;
    border-radius: 1rem;
    box-shadow: rgba($Text, 0.5) 0rem .2rem 3rem -1rem, rgba($Text, 0.5) 0rem .4rem 1.5rem -1rem;
    opacity: 0;

    transition: all cubic-bezier(0.4, 0, 0.2, 1) 100ms 0ms;

    &-show {
        height: 30rem;
        width: 20rem;
        opacity: 1;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 349ms 0ms;
    }

    .header {
        display: flex;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: rgba($color: $Text, $alpha: .2);
        height: 5rem;
        padding: 0 .5rem;
        align-items: center;
        justify-content: flex-start;

        span {
            #name {
                font-size: 1.2rem;
                font-weight: 500;
                color: $Text;
            }

            #role {
                font-size: 1.1rem;
                font-weight: lighter;
                color: $Text;
            }
        }

        .icon {
            color: $Primary;
            width: 3rem;
            height: 3rem;
        }
    }

    .body {
        height: calc(100% - 10rem);
    }

    .footer {
        border-top: 1px solid rgba($color: $Text, $alpha: .3);
        height: 5rem;
        display: flex;
        padding: .8rem;


        button {
            color: $Secondary;
            font-size: 1.1rem;
            font-weight: 500;
            background-color: transparent;
            width: 100%;
            height: 100%;
            border: 0;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .8rem;
            cursor: pointer;

            .icon {
                margin-right: .5rem;
                height: 2rem;
            }

            &:hover {
                background-color: lighten($color: $Primary, $amount: 80);
            }
        }
    }
}

.container_modal-search {
    position: absolute;
    visibility: hidden;
    top: 2.7rem;
    width: 40rem;
    height: 38rem;
    background-color: $background;
    border-radius: .8rem;
    box-shadow: rgba($Text, 0.5) 0rem .2rem 3rem -1rem, rgba($Text, 0.5) 0rem .4rem 1.5rem -1rem;
    overflow: auto;
    opacity: 0;
    padding: .5rem 0rem;
    border: 1px solid lighten($color: $Primary, $amount: 70);

    &-show {
        opacity: 1;
        visibility: visible;
        transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 225ms,
    }

    .filter {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .opcs {
            width: calc(100% - 3.5rem);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0 .5rem;
            border-radius: .5rem;
            background-color: lighten($color: $Primary, $amount: 80);

            button {
                text-transform: uppercase;
                padding: .5rem .7rem;
                border-radius: .5rem;
                border: 1px solid rgba($color: $Text, $alpha: .3);
                cursor: pointer;
                background-color: $background;


                &:hover {
                    background-color: $Secondary-Dark;
                    color: $background
                }

                &.active {
                    background-color: $Secondary-Dark;
                    color: $background
                }
            }
        }

        p {
            text-transform: uppercase;
            background-color: lighten($color: $Text, $amount: 34);
            background-color: darken($color: $Error, $amount: 30);
            color: $background;
            padding: .5rem .9rem;
            border-radius: .6rem;
            text-align: center;
            margin: 0 .5rem;
        }
    }

    .search {
        width: 100%;
        height: 4rem;
        display: flex;
        padding: .5rem .5rem;
        align-items: center;
        border-bottom: 2px solid lighten($color: $Primary, $amount: 80);

        input {
            width: 100%;
            padding: .2rem .5rem;
            font-size: 1.5rem;
            border: none;
            outline: none;
            background-color: lighten($color: $Primary, $amount: 85);
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
            height: 2.4rem;
            color: $Secondary-Dark;

            &::placeholder {
                color: $Text;
            }
        }

        .icon {
            padding: .22rem;
            color: $Secondary-Dark;
            height: 2.4rem;
            background-color: lighten($color: $Primary, $amount: 85);
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }
    }

    .content {
        width: 100%;
        height: calc(100% - 7rem);
        overflow: auto;
        padding: .5rem;

        &::-webkit-scrollbar {
            display: block;

            &-track {
                // box-shadow: inset 0 0 5px $Text;
                border-radius: 10px;
            }

            &-thumb {
                background: lighten($color: $Text, $amount: 29);
                border-radius: 10px;
            }

            &-thumb:hover {
                background: lighten($color: $Text, $amount: 20);
            }

        }
    }
}

.container_modal-delete {
    position: absolute;
    visibility: hidden;
    width: 40rem;
    height: 25rem;
    background-color: $background;
    border-radius: 1.2rem;
    box-shadow: rgba($Primary, 0.5) 0rem .3rem 5rem -1rem, rgba($Primary, 0.5) 0rem .4rem 1.5rem -1rem;
    overflow: auto;
    padding: 2rem 1rem;
    border: 1px solid lighten($color: $Primary, $amount: 50);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 200ms;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    &-show {
        visibility: visible;
    }


    .icon {
        height: 6rem;
        padding: 1.3rem;
        background-color: rgba($color: $Error, $alpha: .2);
        border-radius: 50%;
        color: darken($color: $Error, $amount: 5);
    }

    p {
        text-align: center;
        font-size: 2rem;
        padding: 1.5rem;
        color: $Secondary-Dark;
        font-weight: 500;
    }

    .container-btns {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.container_modal-create {
    position: absolute;
    width: 60rem;
    height: 40rem;
    background-color: $background;
    border-radius: 1rem;
    opacity: 0;
    transition: opacity cubic-bezier(0.86, 0, 0.07, 1) 255ms;
    box-shadow: rgba($Primary-Dark, 0.5) 0rem .3rem 5rem -1rem, rgba($Primary-Dark, 0.5) 0rem .4rem 1.5rem -1rem;
    overflow: auto;

    &-show {
        opacity: 1;
        transition: opacity cubic-bezier(0.86, 0, 0.07, 1) 255ms;
    }

    .head {
        display: block;
        height: 6rem;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;
        box-shadow: none;
        border-bottom: 2px solid lighten($color: $Text, $amount: 30);

        #title {
            color: $Secondary-Dark;
            font-size: 1.3rem;
            margin: .5rem 0;
        }

        #subtitle {
            color: darken($color: $Text, $amount: 20);
            font-weight: lighter;
        }
    }

    .body {
        background-color: $background;
        width: 100%;
        height: calc(100% - (11rem));

        .container-form {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .top {
                width: 100%;
                display: flex;

                .container-img {
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding: 0 2rem;

                    .borde {
                        border-bottom: 1px solid lighten($color: $Text, $amount: 30);
                    }

                    span {
                        border: 1px solid red;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }


                    .content {
                        position: relative;

                        .image {
                            background-color: lighten($color: $Primary, $amount: 50);
                            width: 8rem;
                            height: 8rem;
                            border-radius: 1rem;
                        }


                        .icon {
                            position: absolute;
                            bottom: -1rem;
                            right: -1rem;
                            height: 3rem;
                            padding: .5rem;
                            border-radius: 50%;
                            background-color: $Secondary;
                            color: $background;
                            box-shadow: rgba($Primary, 0.5) 0rem .2rem 3rem -.6rem, rgba($Secondary-Dark, 0.5) 0rem .4rem 1.5rem -.4rem;
                        }
                    }

                }

                .container-input {
                    input {
                        padding: 1.5rem;
                        border-radius: .5rem;
                        color: $Secondary-Dark;
                    }
                }

                .container-select {
                    position: relative;

                    input {
                        border-radius: .5rem;
                        padding-right: 3rem;
                        color: $Secondary;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        background-color: $background;
                        border-radius: .8rem;
                        box-shadow: rgba($Primary, 0.5) 0rem .2rem 3rem -1rem, rgba($Primary, 0.5) 0rem .4rem 1.5rem -1rem;
                        list-style: none;
                        width: 100%;
                        padding: .5rem 0;
                        overflow: auto;
                        visibility: hidden;
                        opacity: 0;
                        bottom: 4.6rem;
                        border: 1px solid lighten($color: $Primary, $amount: 75);

                        p {
                            text-align: center;
                            font-weight: lighter;
                            background-color: rgba($color: lighten($color: $Primary, $amount: 75), $alpha: .4);
                            border: 1px solid lighten($color: $Primary, $amount: 75);
                        }

                        li {
                            padding: .5rem 1rem;
                            height: 2rem;
                            cursor: pointer;
                            font-weight: 400;
                            color: darken($color: $Text, $amount: 15);

                            &:hover {
                                background-color: lighten($color: $Primary, $amount: 80);
                            }
                        }

                        &.show {
                            visibility: visible;
                            opacity: 1;
                            transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) .225ms;
                        }
                    }

                    .icon {
                        top: .8rem;
                        right: .3rem;
                        position: absolute;
                        height: 1.7rem;
                        border-radius: .5rem;
                        cursor: pointer;
                        color: $Secondary-Light;

                        &:hover {
                            transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) 225ms;
                            background-color: lighten($color: $Primary, $amount: 70);
                        }

                    }

                    .icon-delete {
                        @extend .icon;
                        background-color: rgba($color: $Error, $alpha: .3);
                        color: darken($color: $Error, $amount: 18);
                        padding: .2rem;
                        right: 2rem;

                        &:hover {
                            background-color: lighten($color: $Error, $amount: 0);
                            color: $background;
                        }
                    }
                }
            }

            .bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: .7rem;
                display: flex;
                justify-content: flex-end;
                border-top: 2px solid lighten($color: $Text, $amount: 30);
                height: 5rem;
                width: 100%;

                .container-btn {

                    .btn {
                        padding: .5rem .9rem;
                        border-radius: .7rem;
                    }
                }
            }

        }
    }


    .footer {
        padding: .7rem;
        display: flex;
        justify-content: flex-end;
        border-top: 2px solid lighten($color: $Text, $amount: 30);
        height: 5rem;
    }

    .marginHorizontal {
        margin: 0rem;
    }

    .group {
        justify-content: center;
    }

    .container-btn {

        .btn {
            padding: .5rem .9rem;
            border-radius: .7rem;
        }
    }
}

.showModalTop {
    visibility: visible;
    opacity: 1;
    height: 100%;
    background-color: rgba($color: $Text, $alpha: .1);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 200ms,
}

.showModal {
    visibility: visible;
    opacity: 1;
    transition: opacity ease 225ms 0ms;
    transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 225ms 0ms;
}