#genearl-modal {}

.modalOne {
    right: 0;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 100ms 100ms;
}

.modalTop {
    position: fixed;
    top: 0;
    left: 0;
    visibility: 0;
    width: 100%;
    height: 0%;
    backdrop-filter: blur(2px);
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 225ms;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.container-profile {
    position: absolute;
    border: 1px solid rgba($Primary, 0.15);
    top: 1rem;
    right: var(--right);
    width: 0rem;
    height: 0rem;
    background-color: $background;
    border-radius: 1rem;
    box-shadow: rgb(34 51 84 / 20%) 0px 2px 8px -3px, rgb(34 51 84 / 10%) 0px 5px 22px -4px;
    opacity: 0;

    transition: all cubic-bezier(0.4, 0, 0.2, 1) 100ms 0ms;

    &-show {
        height: 30rem;
        width: 20rem;
        opacity: 1;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 349ms 0ms;
    }

    .header {
        display: flex;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: rgba($color: $Text, $alpha: .2);
        height: 5rem;
        padding: 0 .5rem;
        align-items: center;
        justify-content: flex-start;

        span {
            #name {
                font-size: 1.2rem;
                font-weight: 500;
                color: $Text;
            }

            #role {
                font-size: 1.1rem;
                font-weight: lighter;
                color: $Text;
            }
        }

        .icon {
            color: $Primary;
            width: 3rem;
            height: 3rem;
        }
    }

    .body {
        height: calc(100% - 10rem);
    }

    .footer {
        border-top: 1px solid rgba($color: $Text, $alpha: .3);
        height: 5rem;
        display: flex;
        padding: .8rem;


        button {
            color: $Secondary;
            font-size: 1.1rem;
            font-weight: 500;
            background-color: transparent;
            width: 100%;
            height: 100%;
            border: 0;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .8rem;
            cursor: pointer;

            .icon {
                margin-right: .5rem;
                height: 2rem;
            }

            &:hover {
                background-color: lighten($color: $Primary, $amount: 80);
            }
        }
    }
}

.container_modal-search {
    position: absolute;
    visibility: hidden;
    top: 1rem;
    width: 35rem;
    height: 38rem;
    background-color: $background;
    border-radius: .8rem;
    box-shadow: rgba($Primary, 0.5) 0rem .2rem 3rem -1rem, rgba($Primary-Dark, 0.5) 0rem .4rem 1.5rem -1rem;
    overflow: auto;
    opacity: 0;

    &-show {
        // animation: modal-Top 5s;
        opacity: 1;
        visibility: visible;
        transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 225ms,
    }
}

.showModalTop {
    visibility: visible;
    opacity: 1;
    height: 100%;
    background-color: rgba($color: $Text, $alpha: .1);
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 225ms,
}

.showModal {
    visibility: visible;
    opacity: 1;
    transition: opacity ease 225ms 0ms;
    transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 225ms 0ms;
}