// Base
@import './base/settings';
@import './base/variables';
@import './base/helpers';

// Componentes
// @import './components/nameCompnent';
@import './components/switch';
@import './components//nav.scss';
@import './components/tooltip.scss';
@import './components/modal';
// pages
// @import './pages/namePage';
@import './pages/logIn';

.container {

    &__full {
        height: 100vh;
        width: 100%;
    }

    &__LogIn {
        background-color: lighten($color: $Therniary, $amount: 4);
        height: 100vh;
        width: 100vw;
    }

    &-input {
        margin: 1rem 0;

        input {
            font-size: 1rem;
            border: 1px solid $Primary-Light;
            width: 100%;
            height: 2.5rem;
            padding: 0 1rem;
            outline: none;
            transition: box-shadow 150ms ease 0s, border 150ms ease 0s;

            &:focus,
            :active {
                box-shadow: $Secondary 0rem 0rem 0rem 0.125rem;
            }
        }

        .error {
            color: $Error;
            margin: 0px 1rem;
            font-size: .9rem;
        }

    }

    &-btn {
        padding: 1rem 0;

        .btn_LogIn {
            width: 100%;
            border: 0;
            font-size: .95rem;
            padding: 1rem 0;
            color: $Therniary-Light;
            text-transform: uppercase;
            font-weight: bold;
            background-image: linear-gradient(310deg, $Primary-Light, $Primary-Light);
            transition: transform .2s ease-in-out;
            cursor: pointer;
            box-shadow: 0px 2px .5rem .1rem rgba($color: $Therniary-Dark, $alpha: .4);

            &:hover {
                transform: scale(1.02);
            }
        }
    }

    &__private {
        position: relative; //padre
        display: flex;
        width: 100%;
        height: 100%;

        &_sidenav {
            display: inline-block;
            width: 18rem; // anho del sidenav
            height: 100vh;
            background-color: $Primary;
        }

        &_content {
            flex: 1;

            &_topnav {
                width: 100%;
                height: 4.5rem; //largo del topnav
                background-color: rgba($background-page, 0.95);
            }

            &_page {
                width: 100%;
                height: calc(100% - 4.5rem);
                background-color: aliceblue;
                overflow: auto;
                padding: 1rem;
            }
        }

    }


}