* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, Helvetica, Arial, sans-serif;

    /* width */
    // &::-webkit-scrollbar {
    //     width: 8px;
    //     display: none;
    // }
}

html {
    font-size: 62.5%; //10px 
    font-size: 100%;

    @media only screen and (max-width: 1280px) {
        // color: magenta;
        font-size: 90%;

        .container {
            &__private {
                &_sidenav {
                    position: absolute;
                    left: -18rem;
                    transition: all cubic-bezier(0.4, 0, 0.2, 1) 225ms;

                    &.showSidenav {
                        width: 20rem;
                        left: 0rem;
                    }
                }

                &_content {
                    flex: 1;

                    &_topnav {

                        .container-profile {
                            background-color: bisque;
                            right: calc(var(--right) * 2.7);
                        }

                        .menu {
                            display: block;
                        }
                    }
                }
            }
        }

        .container_modal-create {
            overflow: auto;
            width: 50rem;

            .head {
                display: block;
                height: auto;
            }

            .body {
                display: block;
                height: auto;
                // overflow: auto;

                .container-form {
                    flex-direction: column;

                    .top {
                        width: 100%;
                        display: block;

                        .container-img {
                            width: 100%;
                            height: auto;

                            span {
                                width: 100%;
                                padding: 1.5rem 0;
                            }
                        }

                        .container-select {
                            z-index: 1;

                            ul {
                                bottom: auto;
                                top: 3.1rem;

                                li {}
                            }
                        }
                    }

                    .bottom {
                        position: relative;
                    }
                }
            }

            .footer {
                display: block;
                height: auto;
            }
        }
    }

    @media only screen and (max-width: 992px) {
        color: blue;
        font-size: 80%;
    }

    @media only screen and (max-width: 768px) {
        color: green;
        font-size: 75%;
    }

    @media only screen and (max-width: 576px) {
        color: red;
        font-size: 66%;
    }
}