* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, Helvetica, Arial, sans-serif;

    /* width */
    &::-webkit-scrollbar {
        width: 8px;
        display: none;
    }
}

html {
    font-size: 62.5%; //10px 
    font-size: 100%;

    @media only screen and (max-width: 1280px) {
        color: magenta;
        font-size: 90%;

        .container {
            &__private {
                &_sidenav {
                    position: absolute;
                    left: -18rem;
                    transition: all cubic-bezier(0.4, 0, 0.2, 1) 225ms;

                    &.showSidenav {
                        width: 22rem;
                        left: 0rem;
                    }
                }

                &_content {
                    flex: 1;

                    &_topnav {

                        .container-profile {
                            background-color: bisque;
                            right: calc(var(--right) * 2.7);
                        }

                        .menu {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 992px) {
        color: blue;
        font-size: 80%;
    }

    @media only screen and (max-width: 768px) {
        color: green;
        font-size: 75%;
    }

    @media only screen and (max-width: 576px) {
        color: red;
        font-size: 66%;
    }
}